numpy==1.24.4 
pandas==1.5.3
pandasai
faiss-cpu
langchain-ibm
langchain
langchain-community
langchain_experimental
fastapi
pdfplumber
slowapi
uvicorn
python-multipart
pypdf
pymongo
langchain_google_genai
uvicorn
python-multipart
pypdf
pymupdf
pytesseract
pillow
cv2
openpyxl
jq