numpy
pandas
pandasai
faiss-cpu
langchain-ibm
langchain
langchain-community
langchain_experimental
fastapi
pdfplumber
slowapi
uvicorn
python-multipart
pypdf
pymongo
langchain_google_genai
uvicorn
python-multipart
pypdf
tqdm